<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">


  <mat-toolbar color="primary" class="example-toolbar">

    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Ultimaker 3 App</h1>
    <img src="assets/ultimaker_logo.png"align = "rigth" class = "logo"/>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
                 fixedTopGap="56" [opened]="mobileQuery.matches ? 'false' : 'true'">
      <mat-list>
        <a mat-list-item routerLink="/status" (click)="mobileQuery.matches ? snav.toggle() : ''"
           routerLinkActive="active-link">Printer</a>
        <a mat-list-item routerLink="/system" (click)="mobileQuery.matches ? snav.toggle() : ''"
           routerLinkActive="active-link">System properties</a>
        <a mat-list-item routerLink="/printJob" (click)="mobileQuery.matches ? snav.toggle() : ''"
           routerLinkActive="active-link">Print job</a>
        <a mat-list-item routerLink="/authentication" (click)="mobileQuery.matches ? snav.toggle() : ''"
           routerLinkActive="active-link">Authentication</a>
        <a mat-list-item routerLink="/identification" (click)="mobileQuery.matches ? snav.toggle() : ''"
           routerLinkActive="active-link">Control printer</a>
      </mat-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <div class="footer">
        <p>Ultimaker 3 &copy; 2018 Gutmann, Klar, Mühlburger</p>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>

</div>
