<app-transaction-list [transactions]="transactions" [type]="1"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="2"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="3"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="4"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="5"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="6"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="7"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="8"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="9"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="10"></app-transaction-list>

<app-transaction-list [transactions]="transactions" [type]="11"></app-transaction-list>
