<mat-card class="systemPropertiesCard">
  <mat-card-header  class="systemPropertiesCardHeader">
    <h2>Authentication</h2>
  </mat-card-header>
  <mat-card-content  class="systemPropertiesCardContent">

    <input matInput [(ngModel)]="application" placeholder="Application">

    <input matInput [(ngModel)]="user" placeholder="User">

    <button mat-raised-button (click)="reqAuth()">Request authentification</button>

    <h3>ID: </h3>
    <p>{{this.authResponse.id}}</p>
    <h3>Key:</h3>
    <p>{{this.authResponse.key}}</p>
    <mat-divider></mat-divider>

    <button mat-raised-button (click)="checkAcception()">Check Acception</button>
    <h3>Message:</h3>
    <p>{{this.authorization.message}}</p>
    <mat-divider></mat-divider>

    <button mat-raised-button (click)="verifyAuth()">Verify authentification</button>
    <h3>Message:</h3>
    <p>{{this.verification.message}}</p>
    <mat-divider></mat-divider>




  </mat-card-content>
</mat-card>
