<mat-card class="systemPropertiesCard">
  <mat-card-header  class="systemPropertiesCardHeader">
    <h2>Authentication</h2>
  </mat-card-header>
  <mat-card-content  class="systemPropertiesCardContent">

    <input matInput [(ngModel)]="application" placeholder="Application">

    <input matInput [(ngModel)]="user" placeholder="User">

   <p> <button mat-raised-button (click)="reqAuth()"matTooltip="Let your printer know who you are!">Request authentification</button> </p>

    <h3>ID: </h3>
    <p>{{this.authResponse.id}}</p>
    <h3>Key:</h3>
    <p>{{this.authResponse.key}}</p>
    <mat-divider></mat-divider>

    <button mat-raised-button (click)="checkAcception()"matTooltip="Check, if he likes you!">Check acception</button>
    <h3>Message:</h3>
    <p>{{this.authorization.message}}</p>
    <mat-divider></mat-divider>

    <button mat-raised-button (click)="verifyAuth()"matTooltip="Check, if he really really likes you!">Verify authentification</button>
    <h3>Message:</h3>
    <p>{{this.verification.message}}</p>
    <mat-divider></mat-divider>




  </mat-card-content>
</mat-card>
