<mat-card class="systemPropertiesCard">
  <mat-card-header  class="systemPropertiesCardHeader">
    <h2>System Eigenschaften von {{this.systemProperties.name}}</h2>
  </mat-card-header>
  <mat-card-content  class="systemPropertiesCardContent">
    <h3>Plattform: </h3>
    <p>{{this.systemProperties.platform}}</p>
    <mat-divider></mat-divider>
    <h3>Hostname:</h3>
    <p>{{this.systemProperties.hostname}}</p>
    <mat-divider></mat-divider>
    <h3>Uptime:</h3>
    <p>{{this.systemProperties.uptime}}</p>
    <mat-divider></mat-divider>
    <h3>Type:</h3>
    <p>{{this.systemProperties.type}}</p>
    <mat-divider></mat-divider>
    <h3>Variant:</h3>
    <p>{{this.systemProperties.variant}}</p>
    <mat-divider></mat-divider>
    <h3>Version:</h3>
    <p>{{this.systemProperties.version}}</p>
    <mat-divider></mat-divider>
    <h3>guid:</h3>
    <p>{{this.systemProperties.guid}}</p>
    <mat-divider></mat-divider>
    <h3>Log:</h3>
    <p>{{this.systemProperties.log}}</p>
    <mat-divider></mat-divider>
  </mat-card-content>
</mat-card>
