<div class="column">
  <span style="float: left;"><h4>{{name}}</h4></span>
  <span style="float: right;"></span>
</div>

<div class="info-table">
  <div class="info-row">
    <div class="info-name">ID</div>
    <div class="info-value">{{data.id}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Sender Public Key</div>
    <div class="info-value">{{data.senderPublicKey}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Matcher Public Key</div>
    <div class="info-value">{{data.matcherPublicKey}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Order Type</div>
    <div class="info-value">{{data.orderType}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Price</div>
    <div class="info-value">{{data.price | number}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Amount</div>
    <div class="info-value">{{data.amount | number}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Timestamp</div>
    <div class="info-value">{{data.timestamp | date:'dd.MM.yyyy, HH:mm:ss'}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Expiration</div>
    <div class="info-value">{{data.expiration | date:'dd.MM.yyyy, HH:mm:ss'}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Matcher Fee</div>
    <div class="info-value">{{data.matcherFee | number}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Signature</div>
    <div class="info-value">{{data.signature}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Amount Asset</div>
    <div class="info-value">{{data.assetPair.amountAsset}}</div>
  </div>
  <div class="info-row">
    <div class="info-name">Price Asset</div>
    <div class="info-value">{{data.assetPair.priceAsset}}</div>
  </div>
</div>
