<div class="content" *ngIf="addressBalance != null">

  <div class="loading-shade" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="column">
    <span style="float: left;"><h4>Address</h4></span>
    <span style="float: right;"></span>
  </div>

  <div class="info-table">

    <div class="info-row">
      <div class="info-name">Address</div>
      <div class="info-value">{{addressValue}}</div>
    </div>

    <div class="info-row">
      <div class="info-name">Regular Balance</div>
      <div class="info-value">{{addressBalance.regular | number}}</div>
    </div>

    <div class="info-row">
      <div class="info-name">Generating Balance</div>
      <div class="info-value">{{addressBalance.generating | number}}</div>
    </div>

    <div class="info-row">
      <div class="info-name">Available Balance</div>
      <div class="info-value">{{addressBalance.available | number}}</div>
    </div>

    <div class="info-row">
      <div class="info-name">Effective Balance</div>
      <div class="info-value">{{addressBalance.effective | number}}</div>
    </div>

  </div>

  <br />
  <br />
  
  <app-transaction-list-all [transactions]="transactions"></app-transaction-list-all>

</div>
